
body {background-color: #40513B;}
div{font-family: 'Sono', serif;}

.menu {text-align: center;}

.menu3{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

input{
    font-family: 'Sono', serif;
}



.menu2{border-radius: 7px;
    border: 2px solid #EDF1D6;
    color:dimgray;
    border-radius: 4px;
    font-size: 16px;
    background-color: #EDF1D6;
    margin: 2px;
    outline: none;
    background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  
  
}
#password{
    background-image:url(images/lock.png);
}

#username{
    background-image:url(images/contact.png);
}

.checkbox2 {
    width: 1.1em;
    height: 1.1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox2:checked{
    background-color: #00337C;
    border: #00337C;
}

.login-btn{
    border: 1px solid red;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { .login-btn{ font-size: 24px;} }

@media only screen  and (min-width : 650px) { .login-btn{ font-size: 24px;} input{width: 75%; height: 5%;} }
@media only screen  and (min-width : 800px) { .login-btn{ font-size: 24px;} input{width: 60%; height: 5%;} .menu2{font-size: 20px;} }

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) { .login-btn{ font-size: 24px;} input{width: 50%; height: 5%;}}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) { .login-btn{ font-size: 24px;} }